In [2]:
import numpy as np
import pandas as pd
import os

In [10]:
def find_unique_elements(lst):
    empty = []
    for i in range(len(lst)):
        if lst.count(lst[i]) == 1:
            empty.append(lst[i])
    return empty

lst = []
n = int(input("Enter the length of the list: "))
for i in range(n):
    lst.append(int(input(())))
print(find_unique_elements(lst))

Enter the length of the list: 5
()6
()7
()8
()7
()8
[6]

In [16]:
def sum_even_elements(lst):
    empty = []
    sum_1 = 0
    for i in lst:
        if i % 2 == 0:
            sum_1 += i
    return sum_1

lst = []
num = int(input("Enter the length of the list: "))
for i in range(num):
    lst.append(int(input(())))
print("Sum of elements in list: {}".format(sum_even_elements(lst)))

Enter the length of the list: 5
()4
()5
()6
()8
()0
Sum of elements in list: 18

In [18]:
arr = np.array([4, 6, 7, 90, 87, 78, 56])

In [21]:
np.median(arr)

56.0

In [23]:
np.std(arr)

37.07301125165457

In [25]:
np.mean(arr)

46.857142857142854

In [41]:
df1 = pd.DataFrame({
    'ID': [1, 2, 3],
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Department': ['HR', 'Engineering', 'Marketing']
})

df2 = pd.DataFrame({
    'ID': [2, 3, 4],
    'Salary': [60000, 55000, 70000],
    'Experience': [3, 5, 2]
})

left_merge = pd.merge(df1, df2, on='ID', how='left')
left_merge
#right_merge = pd.merge(df1, df2, on='ID', how='right')
#inner_merge = pd.merge(df1, df2, on='ID', how='inner')
#outer_merge = pd.merge(df1, df2, on='ID', how='outer')

   ID     Name   Department   Salary  Experience
0   1    Alice           HR      NaN         NaN
1   2      Bob  Engineering  60000.0         3.0
2   3  Charlie    Marketing  55000.0         5.0

In [30]:
def find_largest_word(lst):
    empty = []
    lst_1 = []
    for i in lst:
        empty.append(len(i))
    for i in lst:
         if len(i) == max(empty):
                lst_1.append(i)
    return lst_1

lst = []
n = int(input("Enter the length of the list: "))
for i in range(n):
    lst.append(input(()))
print(find_largest_word(lst))

Enter the length of the list: 4
()hgfu4gfu84yf89y
()hfgugfu
()uur5yt8y5
()h5guyg85yg9
['hgfu4gfu84yf89y']

In [38]:
def find_reverse(word):
    str_ = ""
    i = len(word) - 1
    while i >= 0:
        str_ += word[i]
        i -= 1
    return str_

word = input()
print(find_reverse(word))

bvfhruhgi5yg
gy5ighurhfvb